* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Work Sans", sans-serif;
}
::-webkit-scrollbar {
  width: 20px;
}
::-webkit-scrollbar-track {
  background-color: #b2a8a869;
}
::-webkit-scrollbar-thumb {
  background-color: #000000e0;
}
h1 {
  font-family: sans-serif;
}
a {
  text-decoration: none;
}
:root {
  --main-color: #2980b9;
}
html {
  scroll-behavior: smooth;
}
/* ================= */
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Small  */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* medium  */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* ================= */
/* Start header  */
.header {
  position: relative;
  z-index: 2;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  right: 25%;
  z-index: 1;
}
@media (max-width: 768px) {
  .header .container {
    flex-flow: column;
    margin-top: 15px;
    right: 0px;
  }
}
.header .logo {
  width: 60px;
  color: #f9f9f9;
}
@media (max-width: 768px) {
  .header .logo {
    width: 50%;
  }
}
.header ul {
  display: flex;
  list-style: none;
  margin: 0px;
  padding: 10px;
  color: white;
  min-width: 200px;
  font-family: sans-serif;
}
.header ul li {
  display: flex;
  justify-content: space-between;
  padding: 3px;
  margin: 3px;
  color: white;
}
.nav a {
  text-decoration: none;
  padding: 15px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  font-family: sans-serif;
}
.nav a:hover {
  border-bottom: 2px solid var(--main-color);
  border-bottom-width: 2px;
  color: #000;
  transition: 0.5s color;
  padding-bottom: 11px;
}
@media (max-width: 768px) {
  .header ul {
    padding: 0;
    margin: 0px;
  }
  .header ul li {
    margin: 0;
    padding: 2px;
  }
  .nav a {
    padding: 4px;
    font-size: 11px;
    display: inline-block;
  }
}
.logo a {
  color: white;
  font-size: 40px;
  font-weight: bold;
  font-family: sans-serif;
  text-transform: uppercase;
}
.hero {
  background-image: url("images/bg2.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
}
@media (max-width: 768px) {
  .hero {
  }
}
.text-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}
@media (max-width: 768px) {
  .text-center {
    margin-top: -45px;
    width: 100%;
  }
}
.text-center h1 {
  font-size: 80px;
  letter-spacing: 10px;
  width: 800px;
  font-weight: 700;
  font-family: sans-serif;
  text-shadow: 0px 3px 3px black;
}
.text-center p {
  font-weight: 200;
  font-size: 37px;
  line-height: 1.9;
  margin-top: -44px;
  text-shadow: 0px 3px 3px black;
}
@media (max-width: 768px) {
  .text-center h1 {
    font-size: 33px;
    width: 0;
    letter-spacing: 5px;
    display: contents;
  }
  .text-center p {
    font-size: 15px;
    margin: 35px;
  }
}

.icone {
  width: 235px;
  margin: 0px auto;
  color: white;
  font-size: 20px;
}
.more {
  padding: 20px 20px;
  border: 3px solid white;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 21px;
  display: block;
}
@media (max-width: 768px) {
  .icone {
    width: 35%;
  }
  .more {
    padding: 11px 11px;
    font-size: 13px;
  }
}
.more:hover {
  background-color: white;
  color: #000;
  transition: 0.5s;
}
/* End header  */
/* Start section icon */
.section-icon {
  background-color: #f5f5f5;
}
.section-icon::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #0000003b;
}
.barent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 200px;
  padding-bottom: 200px;
  margin-left: -78px;
  margin-right: -111px;
}
@media (max-width: 768px) {
  .barent {
    display: flex;
    margin: 0;
    text-align: center;
    flex-flow: wrap;
    padding-bottom: 150px;
    gap: 0;
  }
}
.barent .box {
  margin-top: 60px;
  position: relative;
  width: 113%;
}
.barent .box i {
  font-size: 65px;
  position: absolute;
  top: 0;
  left: -130px;
  color: white;
  background-color: var(--main-color);
  width: 100px;
  height: 100px;
  padding: 15px;
}
.barent .box h1 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 27px;
  font-family: sans-serif;
  color: #0f0707c4;
}
.box p::before {
  content: "";
  position: absolute;
  width: 333px;
  height: 4px;
  background-color: var(--main-color);
  right: 60px;
  top: 55px;
}
.barent .box p {
  color: #777;
  line-height: 1.5;
  font-size: 18px;
  font-weight: 100;
}
@media (max-width: 768px) {
  .barent .box {
    width: 100%;
    margin-top: 170px;
  }
  .barent .box i {
    left: 135px;
    top: -110px;
  }
  .box p::before {
    right: 45px;
    top: 57px;
    height: 2px;
    width: 290px;
  }
}
/* End section icon */
/* Start About */
.about-section {
  width: 100%;
}
.text h1 {
  margin-top: 70px;
  text-transform: uppercase;
  color: #0f0707cc;
  text-align: center;
  position: relative;
  font-family: sans-serif;
}
.text h1::after {
  content: "";
  position: absolute;
  width: 550px;
  height: 1px;
  background-color: #0000003d;
  left: 300px;
  top: 55px;
}
.box-text {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 41px;
  width: 120%;
  margin-left: -80px;
}
.box-text p {
  margin-top: 45px;
  line-height: 1.7;
  color: #777;
  font-weight: 100;
}
@media (max-width: 768px) {
  .text h1::after {
    left: 70px;
    width: 60%;
  }
  .box-text {
    display: flex;
    flex-flow: wrap;
    margin: 0px;
    width: 100%;
  }
}
/* End About */
/* Start Proof */
.proof-section {
  background-image: url(../images/bg121112.jpg);
  background-size: cover;
  width: 100%;
  padding-bottom: 100px;
}
.box-h1 h1 {
  margin-top: 70px;
  text-transform: uppercase;
  color: white;
  text-align: center;
  position: relative;
  font-family: sans-serif;
  top: 66px;
}
.box-h1 h1::after {
  content: "";
  position: absolute;
  width: 550px;
  height: 1px;
  background-color: white;
  left: 300px;
  top: 60px;
}
.text-proof {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-top: 87px;
  color: white;
}
.text-proof .box-1 .number {
  font-size: 40px;
}
.text-proof .box-1 .valuo {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
}
@media (max-width: 768px) {
  .proof-section {
    padding-bottom: 50px;
  }
  .box-h1 h1::after {
    left: 70px;
    width: 60%;
  }
  .text-proof {
    flex-direction: column;
  }
}
/* Endsection Tem Proof */
/* Start Section Tem */
.content-tem {
  display: grid;
  grid-template-columns: repeat(3, 350px);
  width: 110.33%;
  margin-top: 116px;
  column-gap: 85px;
  margin-left: -120px;
}
.content-tem .box-tem {
  position: relative;
  margin-left: 45px;
  margin-right: -25px;
  background-size: cover;
  color: #0f0707cc;
}
.content-tem .box-tem .bic {
  position: absolute;
  left: -80px;
  z-index: 2;
  top: 79px;
}
.content-tem .box-tem .bic .dd {
  padding: 4px;
  color: white;
}
@media (max-width: 768px) {
  .content-tem {
    display: flex;
    flex-wrap: wrap;
  }
  .content-tem .box-tem {
    margin-left: 198px;
    margin-right: -67px;
  }
}

.content-tem .box-tem .bic .dd:hover {
  border-radius: 3px;
  background-color: black;
}
.content-tem .box-tem h1 {
  background-color: #f5f5f5;
  padding: 12px;
  font-size: 25px;
  font-weight: 600;
  font-family: system-ui;
  margin-bottom: 0;
}
.content-tem .box-tem h1::after {
  content: "";
  position: absolute;
  background-image: url(../images/team01.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 70px;
  height: 70px;
  left: -80px;
  border: 5px solid #1c1b1bed;
  border-bottom-width: 28px;
  top: 0px;
}
.content-tem .box-tem h1::before {
  content: " ";
  position: absolute;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent transparent #2c2b2b;
  left: 0px;
  top: 33px;
}
.content-tem .box-tem p {
  font-size: 15px;
  font-family: -webkit-pictograph;
  font-weight: normal;
  line-height: 2;
  padding: 20px;
  color: #777;
  background: whitesmoke;
}
/* End Section Tem */
/* Start section Delta */
.section-Delta {
  padding-bottom: 50px;
  background-color: whitesmoke;
  margin-top: 75px;
}
.section-Delta .content-delt {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "imge box box box";
}
.imge img {
  grid-area: imge;
  margin-top: 75px;
  margin-left: -200px;
  width: 147%;
}
@media (max-width: 768px) {
  .section-Delta {
  }
  .section-Delta .content-delt {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .imge img {
    margin-left: -35px;
    width: 100%;
  }
}
.content-delt .box-delt {
  grid-area: box;
  margin-top: 75px;
  margin-left: 55px;
  text-align: center;
}
@media (max-width: 768px) {
  .content-delt .box-delt {
    margin-left: 0;
  }
}
.content-delt .box-delt h1 {
  margin-bottom: 10px;
  color: #3d3737;
  font-family: system-ui;
  font-weight: 700;
}
.content-delt .box-delt p {
  color: #777;
  font-weight: 300;
  line-height: 1.7;
}
.content-delt .box-delt a {
  display: inline-block;
  padding: 10px 15px;
  margin-top: 35px;
  color: #2980b9;
  text-transform: uppercase;
  font-weight: 600;
  border: 1px solid #2980b9;
}
.content-delt .box-delt a:hover {
  background-color: var(--main-color);
  color: white;
  transition: 0.4s;
}
/* End section Delta*/
/* Start Help */
.help-section {
  background-image: url(../images/bg3-3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 185px;
  margin-top: -25px;
}
.box2-h1 {
  margin-top: 0;
  text-transform: uppercase;
  color: white;
  text-align: center;
  position: relative;
  font-family: sans-serif;
  top: 95px;
}
.box2-h1::after {
  content: "";
  position: absolute;
  width: 550px;
  height: 1px;
  background-color: white;
  left: 300px;
  top: 60px;
}
.content2 {
  position: relative;
  top: 115px;
  text-align: center;
  color: white;
  font-size: 25px;
  line-height: 1.6;
  width: 1174px;
  right: 85px;
}
@media (max-width: 768px) {
  .box2-h1 {
    font-size: 10px;
  }
  .box2-h1::after {
    left: 70px;
    width: 60%;
    top: 55px;
  }
  .content2 {
    width: 100%;
    top: 140px;
    right: 0;
    font-size: 17px;
  }
}
/* End Help */
/* Start section-Done */
.parent-done .parent-pox {
  margin-left: 20px;
  margin-top: 200px;
  display: grid;
  grid-template-columns: repeat(3, auto);
}
.parent-done .text-nw h1 {
  margin-top: 0;
  text-transform: uppercase;
  color: #3d3737;
  text-align: center;
  position: relative;
  font-family: sans-serif;
  top: 95px;
  font-size: 40px;
}
.parent-done .text-nw h1::after {
  content: "";
  position: absolute;
  width: 550px;
  height: 1px;
  background-color: #3d3737;
  left: 35%;
  top: 65px;
}
.boxs {
  position: relative;
}
.imges-boxs img {
  width: 582px;
  margin-left: 12px;
}
.content-2 {
  display: flex;
  align-items: center;
  background-color: var(--main-color);
  width: 582px;
  padding: 7px;
  position: absolute;
  bottom: 5px;
  left: 12px;
}
.content-2:hover {
  visibility: visible;
  position: absolute;
  margin-top: 27px;
  background-color: black;
  z-index: 2;
}
.content-2 h1 {
  color: white;
  margin-left: 29px;
  font-size: 21px;
  letter-spacing: 1px;
  font-family: monospace;
}
.content-2 .icon {
  margin-left: 255px;
}
.content-2 i {
  padding: 7px 10px;
  border: 3px solid white;
  color: white;
  margin-left: 10px;
}
@media (max-width: 768px) {
  .parent-done .parent-pox {
    display: flex;
    flex-direction: column;
    margin-left: 0;
  }
  .parent-done .text-nw h1 {
    font-size: 24px;
  }
  .parent-done .text-nw h1::after {
    left: 70px;
    width: 60%;
    top: 55px;
  }
  .imges-boxs img {
    width: 95%;
  }
  .content-2 {
    display: inline-block;
    width: 95%;
    padding: 0px;
    bottom: 4px;
  }
  .content-2 .icon {
    display: flex;
    padding-bottom: 7px;
  }
  .content-2 h1 {
    margin-bottom: -20px;
  }
}
.content-2 i:hover {
  background: white;
  color: var(--main-color);
  transition: 0.4s;
}
/* End section-Done */
/* Start section p */
.section-p {
  background-image: url(../images/bg4-44.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 360px;
  margin-top: 80px;
}
/* End section p */
/* Start blog */
.contenttt {
  position: relative;
}
.box-4 {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 60px;
  margin-left: -160px;
}
@media (max-width: 768px) {
  .text h1 {
    font-size: 28px;
  }
  .box-4 {
    display: flex;
    flex-direction: column;
    margin-left: 0;
  }
}
.overlay {
  position: absolute;
  background-color: rgb(0 0 0 / 75%);
  width: 625px;
  height: 415px;
  z-index: 1;
  opacity: 0;
  transition: 0.3s;
}
.overlay:hover {
  opacity: 0.9;
}
.overlay .fa-link {
  position: absolute;
  padding: 12px 14px;
  border: 2px solid #fff9;
  color: #fff9;
  margin-left: 46%;
  top: 41%;
  cursor: pointer;
}
@media (max-width: 768px) {
  .overlay {
    width: 100%;
    height: 31.7%;
  }
}
.overlay .fa-link:hover {
  color: white;
  border-color: white;
}
.contenttt .imegess img {
  width: 625px;
  position: relative;
}
.contenttt h1 {
  margin-left: 115px;
  position: relative;
  color: #3f3939;
}
.contenttt h1::after {
  content: "";
  position: absolute;
  background-image: url(../images/team01.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 70px;
  height: 70px;
  left: -115px;
  border: 15px solid #1c1b1bed;
  border-bottom-width: 125px;
  top: -27px;
}
@media (max-width: 768px) {
  .contenttt .imegess img {
    width: 100%;
  }
}
.over-text h4 {
  position: absolute;
  z-index: 1;
  top: 59%;
  right: 98%;
  font-size: 20px;
  color: #777;
  text-align: left;
  width: 2px;
}
.over-text b {
  position: absolute;
  left: 15px;
  top: 66%;
  width: 70px;
  color: #f0eaeabf;
  z-index: 2;
  font-size: 13px;
  font-weight: normal;
}
.contenttt h1::before {
  content: " ";
  position: absolute;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent transparent #2c2b2b;
  left: -15px;
  top: 5px;
}
.contenttt p {
  margin-left: 115px;
  width: 80%;
  line-height: 1.7;
  margin-top: -15px;
  font-size: 18px;
  color: #777;
  font-weight: lighter;
}
.contenttt a {
  margin-left: 115px;
  display: inline-block;
  padding: 10px 15px;
  margin-top: 35px;
  color: #2980b9;
  text-transform: uppercase;
  font-weight: 600;
  border: 1px solid #2980b9;
}
.contenttt a:hover {
  background-color: var(--main-color);
  color: white;
  transition: 0.4s;
}
@media (max-width: 768px) {
  .over-text h4 {
    top: 42%;
    right: 95%;
  }
  .over-text b {
    top: -58%;
  }
  .contenttt h1 {
    font-size: 30px;
  }
  .contenttt p {
    font-size: 16px;
    width: 69%;
  }
}
/* End blog */
/* Start number */
.section-d {
  background-image: url(../images/numbar-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 360px;
  margin-top: 80px;
}
.box-3-h1 h1 {
  margin-top: 0;
  text-transform: uppercase;
  color: white;
  text-align: center;
  position: relative;
  font-family: sans-serif;
  top: 75px;
  font-size: 40px;
}
.box-3-h1 h1::after {
  content: "";
  position: absolute;
  width: 600px;
  height: 1px;
  background-color: white;
  left: 280px;
  top: 65px;
}
@media (max-width: 768px) {
  .box-3-h1 h1 {
    font-size: 26px;
    margin-bottom: 40px;
  }
  .box-3-h1 h1::after {
    left: 70px;
    width: 60%;
  }
}
.content-3 {
  position: relative;
  color: #ffffffc4;
  text-align: center;
  top: 100px;
  font-size: 25px;
  font-family: "Work Sans";
}
/* End number */
/* Start-section-c */
.sec-s {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 110px;
  margin-left: -140px;
  column-gap: 215px;
}
@media (max-width: 768px) {
  .sec-s {
    display: flex;
    flex-flow: column-reverse;
    margin-left: 0;
  }
}
.con-c {
  margin-left: 30px;
  margin-right: 30px;
  width: 115%;
}
.con-c h1 {
  color: #3f3939;
  font-family: -webkit-pictograph;
  font-size: 25px;
}
.con-c p {
  line-height: 1.8;
  margin-top: 32px;
  font-family: "Work Sans";
  color: #777;
  font-weight: 300;
  font-size: 19px;
  width: 145%;
}
.con-c .wthd {
  width: 100%;
}
@media (max-width: 768px) {
  .con-c {
    margin: 0;
    width: 100%;
  }
  .con-c p {
    width: 100%;
  }
}
.con-c .a-all a {
  color: var(--main-color);
}
.con-c .buttom {
  margin-left: 115px;
  display: inline-block;
  padding: 10px 15px;
  margin-top: 35px;
  color: #2980b9;
  text-transform: uppercase;
  font-weight: 600;
  border: 1px solid #2980b9;
  position: relative;
  left: -112px;
}
.con-c .buttom:hover {
  background-color: var(--main-color);
  color: white;
  transition: 0.4s;
}
.form .emile {
  margin-top: 20px;
  width: 120%;
  height: 45px;
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid #3f393942;
  outline-color: #0000ff45;
}
@media (max-width: 768px) {
  .form {
    width: 80%;
  }
}
::placeholder {
  padding: 15px;
  color: rgba(0, 0, 0, 0.349);
}
.form .name {
  margin-top: 20px;
  width: 120%;
  height: 45px;
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid #3f393942;
  outline-color: #0000ff45;
}
.form .name:focus {
  border: 1px solid #3f393942;
}
/* End-section-c */
/* Start Footer  */
footer {
  height: 235px;
  background-color: #202020;
  color: white;
  text-align: center;
  margin-top: 20px;
}
footer .content {
  display: inline-block;
  margin-top: 65px;
}
.width {
  font-size: 30px;
  color: var(--main-color);
}
.width:hover {
  color: tomato;
}
.icon .hover {
  border: 3px solid #a5a5a552;
  padding: 9px 9px;
  color: #a5a5a552;
  font-size: 25px;
  transition: 0.3s;
}
.icon i:hover {
  background-color: #a5a5a5;
  color: white;
}
.text-3 h5 {
  font-size: 24px;
  margin-top: 35px;
}
.text-3 span {
  color: var(--main-color);
}
/* End Footer  */
